.ActiveEmps-list {
  width: 86vw;
  margin: 0 auto;
  margin-bottom: 8vh;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ActiveEmps-create-emp {
  margin: 0 auto;
  color: #4E4E4E;
  background: #EEEEEE;
  padding: 14px;
  border-radius: 8px;
}