* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  color: #211A1D;
}

body {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
}