.Form {
    text-align: center;
}

.Form-label {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 24px;
}

.Form-label span {
    margin-bottom: 8px;
    font-size: 14px;
    color: #211A1D;
}

.Form-input {
    width: 50%;
    height: 40px;
    padding-inline: 12px;
    outline: none;
    border: none;
    border-bottom: solid 1px #8E8E8E;
    background: #F8F8F8;
    color: #777777;
}

.Form-input::placeholder {
    color: inherit;
}

.Form-input.large {
    width: 100%;
}

.Form-label div {
    display: flex;
    gap: 10px;
}

.Form-submit {
    margin-top: 92px;
    background: none;
    outline: none;
    border: none;
}