.Footer {
  background: #eeeeee;
  height: 55px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .Footer {
      height: 68px;
    }
}

.Footer ul {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.Footer-btn {
  background: none;
  outline: none;
  border: none;
}
