.LogComponent {
  display: flex;
  gap: 8px;
  background-color: #EEEEEE;
  padding: 14px;
  justify-content: center;
  border-radius: 6px;
  font-size: 1.4rem;
}

.LogComponent-span {
  color: #A1A1A1;
}
